.bg-grey{
    background-color: white
}
.img-circle{
    border-radius: 50%;
    background-color: coral;
}
.overflow{
    overflow: hidden;
    height:1.4em;
    text-overflow: ellipsis; 
    white-space: nowrap;
    cursor: pointer;
}

.activelink{
    background-color: lightblue
}
hr{
    margin-top:0.3rem;
    margin-bottom:0.3rem;
    opacity:0.9;
}
.scroll{
    overflow:hidden;
    height: 82vh;
}
.scroll:hover{
    overflow-y:scroll;
}
.btn-outline-secondary{
    border:0.5px thin;
    border-right: none;

}
.input-group{
    max-width:90%!important;
}

.back{
    background-color: white;
}